.section_title {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 17px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: $dust_orange;
  margin-bottom: 10px;
}
.section_name {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.4;
  letter-spacing: 2px;
}
