//Light Colors
$light_grey1: #777;
$light_grey2: #888;
$dust_orange: #b19777;
$soft_pink: #eee;
$white_pink: #f7f7f7;
$white: #fff;

//Dark Colors
$night_black: #02050b;
$dark_grey: #222;
$dark_brown: #191514;

